:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #3e46c5 2%,
    #ff4375
  );

  /* Customise these to customise the theme */
  /* --vp-c-brand-1: #ff4375; */
  /* --vp-c-brand-2: #3e46c5; */
  --vp-c-brand-3: #ff4375;
  --vp-c-brand-soft: var(--vp-c-indigo-soft);
}

/* Force larger image sizes */
.VPFeatures .VPImage {
  width: 100% !important; /* Set desired width */
  height: 480px !important; /* Set desired height */
  object-fit: contain; /* Ensure the image fits without distortion */
}
